@media screen and (max-width: 930px) {
    .feature__item+.feature__item {
        margin-left: 10px;
    }
    .feature__item {
        padding-right: 0;
    }
    .works__box {
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        margin-top: 0;
    }
    .works__item {
        width: 40%;
        margin: 10px 0;
    }
    .works__title span {
        display: block;
        text-align: center;
        padding: 15px 0;
        background: #f3af9d;
        border-radius: 15px;
    }
}

@media screen and (max-width: 840px) {
    .feature__inner {
        flex-wrap: wrap;
    }
    .feature__item {
        border-bottom: 2px solid #e8603c;
    }
    .feature__item+.feature__item {
        margin-top: 35px;
    }
    .works__inner {
        padding: 25px 0 15px;
    }
}

@media screen and (max-width: 770px) {
    .slider__mini .slider__mini__item img {
        margin-left: 20px;
    }
}

@media screen and (max-width: 720px) {
    .header__menu-burger {
        display: block;
    }
    .header__menu__list {
        display: none;
        position: absolute;
        width: 100%;
        left: 10px;
        right: 10px;
        top: 81px;
        z-index: 10;
        border-bottom: 3px solid #e8603c;
    }
    .header__menu__list li {
        display: block;
        text-align: center;
        padding: 10px 0;
        background-color: #fff;
        border-top: solid 1px rgb(184, 178, 178);
    }
    .header__menu__list a {
        display: block;
    }
    .header__menu__list li+li {
        margin-left: 0;
    }
    .footer__inner {
        flex-wrap: wrap;
        margin-bottom: 0;
        padding: 20px 15px 20px;
    }
    .footer__inner div {
        margin-bottom: 0;
    }
    .footer__inner .footer__about {
        width: 100%;
        margin-bottom: 25px;
        border-bottom: 1px solid #fff;
    }
    div.footer__about__title,
    div.footer__twitter__title,
    div.footer__contact__title {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 770px) {
    .slider__mini .slider__mini__item img {
        margin-left: 0;
    }
}

@media screen and (max-width: 620px) {
    .slider__content {
        bottom: 10px;
        left: 10px;
        margin-right: 10px;
    }
    .works__item,
    .footer__inner .footer__contact {
        width: 100%;
    }
    .footer__inner .footer__twitter {
        width: 100%;
        margin-bottom: 25px;
        border-bottom: 1px solid #fff;
        padding-bottom: 15px;
    }
    div.footer__about__title,
    div.footer__twitter__title,
    div.footer__contact__title,
    .footer__contact__icon {
        text-align: center;
    }

    .slider__mini{
        display: none;
    }
}


@media screen and (max-width: 459px) {
    .slider__item {
        background-size: cover;
    }

    .feature__item {
        border-bottom: 0 solid transparent;
       
    }

    .feature__item__btn {
        display: block;
        text-align: center;
    }
}


@media screen and (min-width: 720px) {
    .header__menu__list {
        display: block !important;
    }
}