/* @font-face */
@font-face {
  font-family: "Bebas";
  src: url("../fonts/Bebas.ttf");
}

/*  */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Bebas";
}

a {
  display: inline-block;
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline-block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */
.header {
  background-color: #f9f9f9;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}
.header__logo a {
  color: #f3af9d;
  font-size: 36px;
}

.header__logo a span {
  color: #e8603c;
}

.header__menu li + li {
  margin-left: 27px;
}

.header__menu a {
  text-transform: uppercase;
  font-size: 16px;
  color: #b9b9b9;
}

.header__menu-active a {
  color: #e8603c;
}

.header__menu a:hover {
  color: #e8603c;
}

/* slider */
.slider {
  position: relative;
}

.slider__strip{
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f2ae9c;
  height: 60px;
  width: 100%;
}

/* .slider::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: #f2ae9c;
  top: 0;
  left: 0;
  z-index: 1;
} */

.layer{
  position: relative;
  background-color: #fff;
}

.slider__inner {
  background-image: url(../images/slider-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 400px;

}
