html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Bebas", sans-serif;
}

h1,
h2,
h3 {
  margin: 0;
  letter-spacing: 0;
  font-weight: 100;
  /* line-height:0; */
}

a {
  display: inline-block;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

/* header */

.header {
  background-color: #f9f9f9;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
}

.header__logo a {
  color: #f3af9d;
  font-size: 36px;
}

.header__logo a span {
  color: #e8603c;
}

.header__menu {
  margin-top: 10px;
}

.header__menu li + li {
  margin-left: 27px;
}

.header__menu a {
  text-transform: uppercase;
  font-size: 16px;
  color: #b9b9b9;
}

a.header__menu__item-active {
  color: #e8603c;
}

.header__menu a:hover {
  transition: all 0.5s;
  color: #e8603c;
}

/*section slider */

.slider {
  position: relative;
}

.slider::before {
  content: "";
  position: absolute;
  height: 60px;
  width: 100%;
  background-color: #f2ae9c;
  top: 0;
  left: 0;
  z-index: 1;
}

.layer {
  position: relative;
  background-color: #fff;
  z-index: 4;
}

.slider__item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 400px;
  z-index: 5;
  position: relative;
}

.item-one {
  background-image: url(../images/slider-img1.jpg);
}

.item-two {
  background-image: url(../images/slider-img2.jpg);
}

.item-three {
  background-image: url(../images/slider-img3.jpg);
}

.item-four {
  background-image: url(../images/slider-img4.jpg);
}

.item-five {
  background-image: url(../images/slider-img5.jpg);
}

.item-six {
  background-image: url(../images/slider-img6.jpg);
}

.slider__content {
  max-width: 413px;
  color: #fff;
  padding: 20px 20px 26px;
  position: absolute;
  bottom: 25px;
  left: 38px;
}

.item-one .slider__content {
  background-color: rgba(232, 102, 60, 0.8);
}

.item-two .slider__content {
  background-color: rgba(110, 155, 122, 0.8);
}

.item-three .slider__content {
  background-color: rgba(85, 120, 100, 0.6);
}

.item-four .slider__content {
  background-color: rgba(173, 210, 216, 0.8);
}

.item-five .slider__content {
  background-color: rgba(120, 210, 216, 0.8);
}

.item-six .slider__content {
  background-color: rgba(204, 216, 100, 0.8);
}

.slider__content-title {
  font-size: 18px;
}

.slider__content-text {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  margin-top: 23px;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
  width: 36px;
  height: 52px;
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: none;
}

.slick-prev {
  left: 25px;
  background-image: url(../images/slider-previous.png);
}

.slick-next {
  right: 25px;
  background-image: url(../images/slider-next.png);
}

.slider__mini .slider__mini__item img {
  margin-right: 20px;
  cursor: pointer;
  outline: none;
  border: none;
  border-style: none;
}

.slider__mini {
  margin-top: 20px;
}

/*section feature */
.feature__inner {
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
}
.feature__item {
  padding: 0 28px 0 10px;
}

.feature__item__title {
  padding-left: 70px;
  font-size: 18px;
  color: #e8663c;
  line-height: 24px;
  position: relative;
}
.feature__item__title-icon1::before {
  content: "";
  position: absolute;
  background-image: url(../images/feature-icon1.png);
  width: 46px;
  height: 46px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.feature__item__title-icon2::before {
    content: "";
    position: absolute;
    background-image: url(../images/feature-icon2.png);
    width: 49px;
    height: 41px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  .feature__item__title-icon3::before {
    content: "";
    position: absolute;
    background-image: url(../images/feature-icon3.png);
    width: 42px;
    height: 40px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
.feature__item__text {
    margin: 40px 0 20px;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.feature__item__btn{
    background-color: #e8663c;
    color: #fff;
    padding: 10px 14px;
}
